# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
*.package-lock.json
*.yarn.lock
.DS_Store
package-lock.json


# Docker
Dockerfile
docker-compose.yml

#mobile project
/mobile